/*====================================================================================================*/
//!---------MODAL-------------------------------------------------------------------------------------*/
/*====================================================================================================*/
// .modal {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.6);
//   padding: rem(30) rem(10);
//   display: flex;
//   overflow-y: auto;
//   overflow-x: hidden;
//   z-index: 50;

//   opacity: 0;
//   visibility: hidden;

// // ! Change transition in modal.js
//   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

//   &.is-active {
//     opacity: 1;
//     visibility: visible;
//   }
//   &.is-active &__body {
//     transform: scale(1);
//   }

//   &__body {
//     position: relative;
//     width: rem(500);
//     max-width: 100%;
//     background-color: #fff;
//     margin: auto;
//     padding: rem(20);
//     transform: scale(0.8);

// // ! Change transition in modal.js
//     transition: transform 0.3s ease-in-out;
//   }
//   &__close {
//     position: absolute;
//     top: rem(15);
//     right: rem(15);
//     background: none;
//   }
// }
/*====================================================================================================*/

/*====================================================================================================*/
//!---------DROPDOWN----------------------------------------------------------------------------------*/
/*====================================================================================================*/
// body.mouse .dropdown:hover .dropdown__list {
//   overflow: visible;
//   height: max-content;
//   opacity: 1;
//   visibility: visible;

//   @media (max-width: 767.98px) {
//     position: relative;
//     top: 0;
//   }
// }

// body.mouse .dropdown:hover .dropdown-arrow {
//   transform: rotate(180deg);
// }

// body.touch .dropdown-arrow {
//   pointer-events: initial;
// }

// body.touch .dropdown.show-dropdown .dropdown-arrow {
//   transform: rotate(180deg);
// }

// body.touch .dropdown.show-dropdown .dropdown__list {
//   opacity: 1;
//   visibility: visible;
// }

// .dropdown-arrow {
//   border-top: rem(10) solid #000;
//   border-right: rem(10) solid transparent;
//   border-left: rem(10) solid transparent;
//   background: none;
//   transition: transform 150ms ease-in-out;
//   pointer-events: none;
// }

// .dropdown {
//   position: relative;

//   &__link {
//     &:not(:last-child) {
//       margin-right: rem(30);
//     }
//   }
//   &__arrow {
//     position: absolute;
//     right: 0;
//   }
// }

// .list-dropdown {
//   position: absolute;
//   z-index: 5;
//   top: rem(15);
//   left: 0;
//   padding-top: rem(15);

//   opacity: 0;
//   height: 0;
//   visibility: hidden;
//   overflow: hidden;
//   transition: height 150ms ease-in-out, opacity 150ms ease-in-out;

//   @media (max-width: 767.98px) {
//     position: relative;
//     width: 100%;
//     top: 0;
//     padding-top: 0;
//   }

//   &__item {
//     position: relative;
//     background-color: #000;
//   }
//   &__link {
//     display: block;
//     color: #fff;
//     padding: rem(5) rem(50) rem(5) rem(10);
//   }
// }
/*====================================================================================================*/

.logo {
  svg {
    width: rem(69);
    height: rem(19);
    fill: var(--color-light);
    transition: fill 0.3s ease-in-out;
  }

  @media (any-hover: hover) {
    &:hover svg {
      fill: var(--color-light-hover);
    }
  }
}

.button {
  font-family: $family2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(23);
  line-height: 1;
  text-align: center;
  font-weight: $fw600;
  color: var(--color-light);

  min-height: em(64, 23);
  padding: em(5, 23) em(72, 23);
  border-radius: em(3, 23);
  background-color: var(--color-accent);
  transition: background-color 0.3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  &_small {
    font-size: rem(12);
    padding: em(5, 12) em(18, 12);
  }
}

.text {
  font-size: rem(20);
  font-weight: $fw400;
  line-height: lh(32, 20);

  @media (max-width: $mdx768) {
    font-size: rem(16);
  }
}

.block {
  &_center {
    text-align: center;
  }

  &__uptitle {
    display: inline-block;
    font-weight: $fw600;
    font-size: rem(20);
    line-height: lh(30, 20);
    font-family: $family2;

    &:not(:last-child) {
      margin-bottom: em(16, 20);
    }

    @media (max-width: $mdx768) {
      font-size: rem(16);
    }
  }
  &__title {
    font-family: $family2;
    font-weight: $fw700;
    font-size: rem(40);
    line-height: lh(48, 40);
    letter-spacing: em(-0.4, 40);

    &:not(:last-child) {
      margin-bottom: em(24, 40);
    }

    @media (max-width: $mdx992) {
      font-size: rem(36);
    }
    @media (max-width: $mdx768) {
      font-size: rem(28);
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: em(40, 20);

      @media (max-width: $mdx768) {
        margin-bottom: em(20, 16);
      }
    }

    & > p:not(:last-child) {
      margin-bottom: em(10, 20);
    }
  }
  &__link {
    font-family: $family2;
    font-weight: $fw700;
    font-size: rem(18);
    line-height: lh(32, 18);
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: em(7, 18);
    transition: color 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-blue);
      }
      &:hover .block__link-arrow {
        fill: var(--color-blue);
        animation-name: moveLink;
        animation-duration: 0.7s;
      }
    }
  }
  &__link-arrow {
    width: em(13, 18);
    height: em(8, 18);
    fill: var(--color-light);
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

@keyframes moveLink {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(rem(5));
  }

  100% {
    transform: translateX(0);
  }
}
