/*====================================================================================================*/
//!---------IMPORTANT VARS----------------------------------------------------------------------------*/
/*====================================================================================================*/

$family1: 'Open Sans', sans-serif;
$family2: 'Montserrat', sans-serif;

$container: rem(1140);
$containerPadding: rem(15);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------MEDIA QUERIES-----------------------------------------------------------------------------*/
/*====================================================================================================*/
$mdx992: em(991.98, $font-size);
$mdx768: em(767.98, $font-size);
$mdx600: em(599.98, $font-size);
$mdx480: em(479.98, $font-size);
$mdx380: em(379.98, $font-size);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------FONT WEIGHT-----------------------------------------------------------------------------*/
/*====================================================================================================*/

$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

/*====================================================================================================*/
//!---------COLORS------------------------------------------------------------------------------------*/
/*====================================================================================================*/

:root {
  --color-light: #fff;
  --color-light-hover: #c3c3c3;

  --color-gray: #807e7e;
  --color-gray-opacity: rgba(128, 126, 126, 0.2);
  --color-gray-dark: #3f3b3b;

  --color-bg: #212121;
  --color-bg-dark: #121212;

  --color-blue: #0d6efd;
  --color-blue-hover: #0257d5;

  --color-accent: #dc3545;
  --color-accent-hover: #bd2130;
}
/*====================================================================================================*/
