/*====================================================================================================*/
//!---------BURGER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
// .burger {
//   display: none;

//   &.is-active span {
//     width: 0;
//     opacity: 0;
//   }

//   &.is-active::before {
//     top: calc(50% - rem(1));
//     transform: rotate(-45deg);
//   }
//   &.is-active::after {
//     bottom: calc(50% - rem(1));
//     transform: rotate(45deg);
//   }

//   @media (max-width: 767px) {
//     z-index: 5;
//     display: block;
//     position: relative;
//     width: rem(30);
//     height: rem(18);
//     cursor: pointer;
//     background: none;

//     span,
//     &::before,
//     &::after {
//       right: 0;
//       position: absolute;
//       height: rem(2);
//       width: 100%;
//       transition: all 0.3s ease-in-out;
//       background-color: #000;
//       border-radius: rem(2);
//     }

//     &::before,
//     &::after {
//       content: '';
//     }

//     &::before {
//       top: 0;
//     }
//     &::after {
//       bottom: 0;
//     }

//     span {
//       top: calc(50% - rem(1));
//     }
//   }
// }
/*====================================================================================================*/

/*====================================================================================================*/
//!---------HEADER------------------------------------------------------------------------------------*/
/*====================================================================================================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 50;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(20);
    padding-top: rem(5);
    padding-bottom: rem(5);
    min-height: rem(80);

    @media (max-width: $mdx992) {
      min-height: rem(60);
    }
  }
  &__logo {
    flex: 0 0 auto;
  }
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: rem(48);
  row-gap: rem(7);
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: $mdx992) {
    column-gap: rem(28);
  }

  @media (max-width: $mdx600) {
    column-gap: rem(14);
  }

  &__item {
    flex: 0 0 auto;
  }
  &__btns {
    display: flex;
    align-items: center;
    column-gap: rem(40);

    @media (max-width: $mdx992) {
      column-gap: rem(20);
    }
    @media (max-width: $mdx600) {
      column-gap: rem(15);
    }
  }
  &__btn {
    background: none;
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: rem(35);
      height: rem(35);
      background-color: var(--color-gray-opacity);
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.3s ease-in;
    }

    @media (any-hover: hover) {
      &:hover::before {
        transform: scale(1);
      }
    }

    &_1 svg {
      width: rem(19.5);
      height: rem(19.5);
    }
    &_2 svg {
      width: rem(17.5);
      height: rem(19.5);
    }

    svg {
      fill: var(--color-light);
      position: relative;
      z-index: 2;
    }
  }
}
.item-navbar {
  display: flex;
  align-items: center;
  position: relative;

  &__avatar {
    border-radius: 50%;
    overflow: hidden;

    img {
      width: rem(32);
      height: rem(32);
    }

    &:not(:last-child) {
      margin-right: rem(8);
    }
  }
  &__dropdown {
    background: none;
    color: inherit;
    display: flex;
    align-items: center;

    @media (any-hover: hover) {
      &:hover span {
        color: var(--color-light-hover);
      }
      &:hover .item-navbar__icon svg {
        fill: var(--color-light-hover);
      }
    }

    &.is-active + .item-navbar__list {
      visibility: visible;
      opacity: 1;
    }

    &.is-active .item-navbar__icon svg {
      transform: rotate(-180deg);
    }

    span {
      display: inline-block;
      font-size: rem(16);
      line-height: lh(28, 16);
      font-weight: $fw400;
      transition: color 0.3s ease-in-out;

      &:not(:last-child) {
        margin-right: em(10, 16);
      }
    }
  }
  &__icon {
    svg {
      width: rem(8);
      height: rem(5);
      fill: var(--color-light);
      transition: transform 0.2s ease-in-out, fill 0.3s ease-in-out;
    }
  }
  &__list {
    position: absolute;
    top: rem(40);
    right: 0;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  &__item {
    background-color: var(--color-bg-dark);
    transition: background-color 0.2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-gray-dark);
      }
    }
  }
  &__link {
    display: inline-block;
    font-size: rem(16);
    width: 100%;
    padding: rem(5) rem(10);
  }
}
