/*====================================================================================================*/
//!---------IMPORTS-----------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans&display=swap');

/*====================================================================================================*/
//!---------SCSS FUNCTIONS----------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/functions.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------RESET DEFAULT STYLES----------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/nullstyle.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------VARS--------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/vars.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------SWIPER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
// @import './dev/swiper-imports.scss';
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/

/*====================================================================================================*/
//!---------GLOBAL STYLES-----------------------------------------------------------------------------*/
/*====================================================================================================*/

html {
  &::-webkit-scrollbar {
    width: 8px;
  }
  scrollbar-width: rem(8);

  &::-webkit-scrollbar-track {
    background-color: var(--color-gray-opacity);
  }

  scrollbar-color: var(--color-bg-dark) var(--color-gray-opacity);

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-dark);
  }
}

body {
  font-family: $family1;
  background-color: var(--color-bg);
  color: var(--color-light);
  /*==================================================================================================*/

  /*==================================================================================================*/
  //!-------FOR MODALS--------------------------------------------------------------------------------*/
  /*==================================================================================================*/
  // &.modal-lock {
  //   overflow: hidden;
  //   position: fixed;
  // }
  /*==================================================================================================*/

  /*==================================================================================================*/
  //!-------FOR BURGER--------------------------------------------------------------------------------*/
  /*==================================================================================================*/
  // &.is-fixed {
  //   overflow: hidden;
  // }
  /*==================================================================================================*/
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

[class*='__container'] {
  max-width: $container;
  padding: 0 $containerPadding;
  margin: 0 auto;
}

// [class*='__right-container'] {
//   padding-left: calc((100% - $container) / 2 + $containerPadding);
// }
// [class*='__left-container'] {
//   padding-right: calc((100% - $container) / 2 + $containerPadding);
// }

/*====================================================================================================*/
//!---------BEM BLOCKS--------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/common.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------HEADER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './parts/_header.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------SECTIONS----------------------------------------------------------------------------------*/
/*====================================================================================================*/

@import './parts/_hero.scss';

@import './parts/_companies.scss';

@import './parts/_compete.scss';

@import './parts/_integrations.scss';

@import './parts/_interface.scss';

@import './parts/_pricing.scss';

@import './parts/_questions.scss';

/*====================================================================================================*/
//!---------FOOTER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './parts/_footer.scss';
/*====================================================================================================*/
